@import "variables.scss";
@import "components/form.scss";
@import "components/navigation.scss";
@import "components/home.scss";
@import "components/report-dashboard.scss";

* {
  box-sizing: border-box;
  color: $txt-color;
}
.app-container {
  min-height: 100vh;
  max-width: 100vw;
}

.symptoms-slides-container {
  width: 300px;
  min-height: 100vh;
}
