@import "variables.scss";
@import "animations.scss";
@import "components/form.scss";
@import "components/navigation.scss";
@import "components/home.scss";
@import "components/report-dashboard.scss";
@import "components/symptomchecker.scss";
@import "components/results.scss";
@import "components/resources.scss";
@import "components/linkpage.scss";
@import "components/substances.scss";
@import "components/report.scss";

* {
  box-sizing: border-box;
  color: $txt-color;
  margin: 0;
}

body {
  background-image: url(../images/vertical-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container {
  min-height: 100vh;
  max-width: 100vw;
}

.symptoms-slides-container {
  width: 300px;
  min-height: 100vh;
}
.link-color {
  a {
    color: $link-color;
  }
}
//mobile screens
@media screen and (max-width: 600px) {
  .web-only {
    display: none;
  }
}
